* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.program a {
  color: #fff;
  text-decoration: underline;
  text-align: end;
}

.topnav {
  display: none;
}

.lowernav {
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.lower {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mylogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #272a31;
}

.navul {
  display: none;
}

.mylogo p {
  font-size: 1rem;
  font-weight: 700;
  color: #272a31;
}

.navcontainer.active {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(39, 42, 49, 0.98);
  padding: 30px 0 0 25px;
  align-items: flex-start;
  gap: 50px;
}

.navul.active {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.3rem;
}

.navul a {
  color: #fff;
}

.navul li a:hover {
  cursor: pointer;
  font-size: 1.4rem;
  color: #888;
}

.hamburger.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.headline {
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(#f5f4f4f2, #fce5d3cc), url(./Images/party.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #575757;
  line-height: 44px;
}

.title {
  color: #ec5242;
}

.title p {
  font-size: 1rem;
}

.title h1 {
  font-size: 2rem;
  font-weight: 700;
}

.content p {
  line-height: 30px;
}

.venue {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.program {
  width: 100%;
  padding: 60px 0;
  background-color: #272a32;
  background-image: url(./Images/pattern_bg.png);
}

.program h2 {
  text-align: center;
  color: #fff;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.activity {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  background-color: rgba(255, 255, 2555, 0.1);
  align-items: center;
}

.activity .title {
  line-height: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.desc {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

.art {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.artists h2 {
  text-align: center;
  padding-bottom: 40px;
}

.artist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
}

.name {
  font-size: 19px;
  font-weight: 700;
}

.artists {
  padding: 60px 0;
}

.about .desc {
  color: #272a31;
  line-height: 18px;
}

.partiner {
  padding: 50px 0;
  background-color: #272a32;
  margin-top: 60px;
}

.partiner .content {
  gap: 0;
}

.partiner .content h3 {
  text-align: center;
}

.partiners {
  display: flex;
  background-color: #272a32;
  justify-content: space-between;
}

.partiners img {
  width: 80px;
}

.footer {
  display: flex;
  background-color: #fff;
  width: 100%;
  padding: 30px 0;
}

.footer .content {
  flex-direction: row;
  justify-content: space-between;
}

.rights {
  font-size: 12px;
  line-height: 15px;
}
