* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato", Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.topnav {
  display: none;
}

.lowernav {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.mylogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #272a31;
}

.navul {
  display: none;
  font-size: 1.4rem;
}

.mylogo p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #272a31;
}

.navcontainer.active {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #272a31;
  padding: 30px 0 0 25px;
  align-items: flex-start;
  gap: 50px;
}

.navul.active {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navul a {
  color: #fff;
}

.navul li a:hover {
  cursor: pointer;
  font-size: 1.5rem;
  color: #888;
}

.hamburger.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
